#ifndef SECRETS_H
#define SECRETS_H

#include <Arduino.h>

#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASS "YOUR_PASSWORD"
#define NTFY_TOPIC "YOUR_SECRET_TOPIC_HERE"
#define TARGET_MAC "XX:XX:XX:XX:XX:XX"

// Parametri Retea (Secretizați)
const uint8_t BSSID_ROUTER[] = {0xAA, 0xBB, 0xCC, 0xDD, 0xEE, 0xFF};

const IPAddress LOCAL_IP    (192, 168, 1, 200);
const IPAddress GATEWAY     (192, 168, 1, 1);   
const IPAddress SUBNET      (255, 255, 255, 0);
const IPAddress DNS_PRIMARY (1, 1, 1, 1);

#endif